<% if !params[:query].present? %>
<h1>Dojo Rental</h1>
<% elsif @dojo_space.count > 0 %>
<h1>Search Results</h1>
<%else %>
<p><%= "Your search didn't return any results" %></p>
<% end %>

<% @dojo_space.each do |dojo|%>
<p><%= link_to dojo.name, dojo_space_path(dojo) %> - <%= link_to dojo.martial_art, "https://en.wikipedia.org/wiki/#{dojo.martial_art}" %></p>
<% end %>
